<% @title = 'login' %>

  <div id="login-form">
    <h1>
      <%= @title %>
    </h1>

    <%= form_for @form, url: :staff_session do |f| %>
      <div>
        <%= f.label :email, "mail addres" %>
          <%= f.text_field :email %>
      </div>
      <div>
        <%= f.label :password, "password" %>
          <%= f.text_field :password %>
      </div>
      <div>
        <%= f.submit %>
      </div>
      <% end %>

  </div>